ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.gallery {
  margin: 0 auto;
  padding: 32px 156px;
  max-width: 1440px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  display: block;
}

.gallery-dl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-around;
  text-align: center;
  /* border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080; */
  width: 360px;
  height: 48px;
  background: #fff;
}

p.gallery-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 0;
}

p.gallery-value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

.gallery-item:hover .gallery-image,
.gallery-item:focus .gallery-image {
  transform: scale(1.05);
}

.gallery-image {
  height: 152px;
  width: 360px;
  object-fit: cover;
  transition: transform 0.2s;
}
